<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Menu">
       <setting id="radio_countries" type="bool" label="Štáty" default="true"/>
       <setting type="sep" />	
       <setting id="radio_genres" type="bool" label="Žáner" default="true"/>
       <setting type="sep" />
       <setting id="radio_fav" type="bool" label="Obľúbené" default="true"/>
    </category>
    <category label="Štáty">
       <setting id="radio_Slovakia" type="bool" label="Slovenské rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_Czech_Republic" type="bool" label="České rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_United_Kingdom" type="bool" label="Anglické rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_United_States" type="bool" label="Americké rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_France" type="bool" label="Francúzske rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_Netherland" type="bool" label="Holandské rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_Germany" type="bool" label="Nemecké rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_Polskie" type="bool" label="Poľské rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_Austria" type="bool" label="Rakúske rádia" default="true"/>
	   <setting type="sep" />
       <setting id="radio_Russian_Federation" type="bool" label="Ruské rádia" default="true"/>
    </category>
    <category label="Žáner">
       <setting id="styl_dance" type="bool" label="Dance/Electronica" default="true"/>
	   <setting type="sep" />
       <setting id="styl_folk" type="bool" label="Folk/Country" default="true"/>
	   <setting type="sep" />
       <setting id="styl_jazz" type="bool" label="Jazz/Blues/Soul" default="true"/>
	   <setting type="sep" />
       <setting id="styl_mluvene_slovo" type="bool" label="Mluvene Slovo" default="true"/>
	   <setting type="sep" />
       <setting id="styl_oldies" type="bool" label="Oldies" default="true"/>
	   <setting type="sep" />
       <setting id="styl_pop" type="bool" label="Pop" default="true"/>
	   <setting type="sep" />
       <setting id="styl_relax" type="bool" label="Relax/Klasika/Dechovka" default="true"/>
	   <setting type="sep" />
       <setting id="styl_rbn" type="bool" label="RnB/Hip Hop" default="true"/>
	   <setting type="sep" />	   
       <setting id="styl_rock" type="bool" label="Rock/Metal" default="true"/>
	   <setting type="sep" />
       <setting id="styl_solopro" type="bool" label="Solo Pro ... " default="true"/>
	   <setting type="sep" />
       <setting id="stylzpravodajsky" type="bool" label="Zpravodajské" default="true"/>
    </category>
    <category label="Obľúbené">
       <setting id="favourite_SK" type="bool" label="Top 10 SK" default="true"/>
	   <setting type="sep" />
       <setting id="favourite_CZ" type="bool" label="Top 10 CZ" default="true"/>
    </category>
</settings>