<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Sites">
       <setting id="radio_Slovakia" type="bool" label="Slovenské rádia" default="true"/>
	   <setting id="radio_Czech_Republic" type="bool" label="České rádia" default="true"/>
	   <setting id="favourite_SK" type="bool" label="Top 10 SK" default="true"/>
	   <setting id="favourite_CZ" type="bool" label="Top 10 CZ" default="true"/>
	   <setting id="radio_Polskie" type="bool" label="Polské rádia" default="true"/>
	   <setting id="radio_Germany" type="bool" label="Německé rádia" default="true"/>
	   <setting id="radio_Russian_Federation" type="bool" label="Ruské rádia" default="true"/>
	   <setting id="radio_Austria" type="bool" label="Rakouské rádia" default="true"/>
	   <setting id="radio_France" type="bool" label="Francouzské rádia" default="true"/>
       <setting id="radio_Netherland" type="bool" label="Holandské rádia" default="true"/>
	</category>
</settings> 
